/* ------------------------------------------------------------------------------- */
/* Estilos de la página de inicio */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --color-navbar: #0A0B0B ;
    --text-color: #ffffff;
    --bg-color: #2B2B2C;
    --navLat-color: #6C3B2A;
    --log-color: #DB763B;
	--log-color-a: #00AAA9;
    --navDk-color: #542F22;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}
/* ------------------------------------------------------------------------------- */

/* Estilo para el botón de recuérdame */
#rgtr {
    position: absolute;
    z-index: 100;
    top: 5%; bottom: 95%; right: 10%; left: 90%;
}

button.rgtr {
    background-color: var(--navDk-color);
    transition: all 0.7s ease;
    color: var(--text-color) !important;
}

button.rgtr a {
    color: var(--text-color) !important;
    text-decoration: none !important;
    text-transform: none !important;
}

button.rgtr:hover {
    background-color: var(--navLat-color) !important;
    transition: all 0.7s ease;
    border-radius: 50%;
    border-style: double;
}

/* ------------------------------------------------------------------------------- */
/* Estilo del login*/
.login-wrap {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--color-text);
	background-image: url(/img/bg_index.jpg);
}

/* Configuración de la adaptabilidad de imagen de fondo */
.cover {
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
/* ------------------------------------------------------------------------------- */

/* Estilos del contenedor de inicio de sesión */
.container-login {
	text-align: center;
    width: 100%;
    height: auto;
	max-width: 400px;
	box-sizing: border-box;
	opacity: 0.9 !important;
	border-radius: 10% !important;
	margin: 0;
	padding: 20px;
	background-color: var(--navLat-color);
}
/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */
/* Estilo - Imagen logo */
.logo_ndp {
	border-radius: 50%;
	width: 150px; 
	height: 150px;
    transition: all 0.7s ease;
    opacity: 0.7;
}

.logo_ndp:hover {
	opacity: 1;
    filter: drop-shadow(100);
    transition: all 0.7s ease;
}
/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */
/* Estilo - Textos */
.login-text {
    text-align: center;
    font-size: 16px;
    color: var(--text-color) ;
    text-decoration: none;
}

.login-text:hover {
	opacity: 0.7;
    transition: all 0.7 ease;
}

/* Estilo - "Leyendas" */
legend {
    color: var(--text-color) !important;
    font-size: 16px !important;
}

/* Estilo - Ingreso de datos */
.inputSt {
    color: var(--text-color) !important;
    border-radius: 6px !important;
    width: 200px;
    background-color: var(--navLat-color) !important;
    width: 100% !important;
    transition: all 0.7s ease !important;
}

.inputSt:hover {
    border-radius: 20px !important;
    border-style: double;
    transition: all 0.7s ease;
}
/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */
/* Estilo - Botón */
.buttonSt {
    width: 50%;
    color: var(--text-color) !important;
    border-radius: 6px !important;
    transition: all 0.7s ease;
}

.buttonSt:hover {
    border-radius: 20px !important;
    background-color: var(--color-navbar) !important;
    opacity: 0.8 !important;
    transition: all 0.8s ease;
    border-style: double;
}

/* Estilo - Botón "Olvidé la contraseña" */
.buttonPw {
    width: 100%;
    color: var(--text-color) !important;
    background-color: var(--navDk-color) !important;
    border-radius: 6px !important;
    transition: all 0.7s ease;
}

.buttonPw a{
    color: var(--text-color) !important;
    text-decoration: none;
    text-transform: none;
}

.buttonPw:hover {
    border-radius: 20px !important;
    background-color: var(--navLat-color) !important;
    transition: all 0.7s ease;
    border-style: double;
}
/* ------------------------------------------------------------------------------- */
